*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: flex;
}
h1{
    font-size: 1.5em;
    margin: .5em 0;
    font-weight: 700;
    color: hsl(218, 44%, 22%)
}
p{
    font-size: 1em;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}
img{
   width: 100%;
   border-radius: .9em ;
}
.QR_container{
    width: 20%;
    height: 65%;
    margin: auto;
    padding: 1em;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    box-shadow: 5px 5px 40px hsl(220, 15%, 55%);
}
